.counter-module {
	text-align: center;
	line-height: 1;
}

.counter {
	border-radius: 50%;
	border: 1px solid $border-dark;
	font-size: 1em;
	display: block;
	height: 2.5em;
	line-height: 2.5em;
	width: 2.5em;
	margin: 0 auto;
	vertical-align: middle;
}

.counter-legend {
	font-size: 0.6em;
}