
$background-view : #fff;
$background-dark-overlay : #333;

$jumbotron-background : #FF7500;
$jumbotron-color : #fff;

$border-dark : #000;
$border-light : #ddd;

$action-color: #028E62;
$action-opposite-color: #fff;
$action-disabled-color: #ddd;
$delete-color : red;